<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/allData.css">
  <title>NSint - Neon Pinturas sistema interno</title>
</head>

<body>
  <div class="container">
    <img src="images/bg_logo.jpg" alt="logo" class="logo">

    <div class="allData">

      <div class="getData">

        <form action="/show" method="POST">
          <select name="allData">
            <option value="" disabled selected>Dado a ser exibido</option>
            <option value="employee">Funcionários</option>
            <option value="company">Empresas</option>
          </select>

          <button type="submit">Enviar</button>
        </form>

        <a href="/" class="back_index">home</a>

      </div>

      <div class="setData">

        <table>
          {% if setData === 'employee' %}
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>Salário</th>
              <th>Data de admissão</th>
              <th>Cargo</th>
              <th>Conta</th>
            </tr>
          </thead>
          <tbody>
            {%for employee in data %}
            <tr>
              <td>{{employee.id}}</td>
              <td>{{employee.name}}</td>
              <td>{{employee.cpf}}</td>
              <td>{{employee.phone}}</td>
              <td>{{employee.money}}</td>
              <td>{{employee.admission}}</td>
              <td>{{employee.job}}</td>
              <td>{{employee.account}}</td>
            </tr>
            {% endfor %}

            {% elif setData === 'company' %}
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPNJ</th>
                <th>Endereço</th>
                <th>Valor</th>
                <th>Conta</th>
              </tr>
            </thead>

            <tbody>
              {%for company in data %}
              <tr>
                <td>{{company.id}}</td>
                <td>{{company.name}}</td>
                <td>{{company.cnpj}}</td>
                <td>{{company.address}}</td>
                <td>{{company.payment}}</td>
                <td>{{company.account}}</td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>

        </table>

      </div>
    </div>
  </div>

</body>

</html>
