<!DOCTYPE html>
<html lang="pt-br">

  {% set page = {'styles': 'employee'} %}
  {% include "partials/head.html" %}

<body>
  <div class="container ">
    <img src="../images/bg_logo.jpg" alt="logo" class="logo">

    <div class="menu">
      {% include "partials/header-button.html" %}

      <div class="forms"></div>

      <script src="../scripts/CreateEmployeeForm.js"></script>
      <script src="../scripts/UpdateEmployeeForm.js"></script>

      {% include "partials/success-goback-buttons.html" %}
    </div>

  </div>

</body>

</html>
