<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/index.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <title>NSint - Neon Pinturas sistema interno</title>
</head>

<body>
  <div class="container">
    <img src="images/bg_logo.jpg" alt="logo" class="logo">

    <div class="menu">
      <h1>NSint - Neon Pinturas sistema interno</h1>
      <div class="menu-button">
        <a href="employee/show"><img class="ButtonIcon" data-feather="user" alt="employee"></i>Funcionário</a>
        <a href="company/show"><img class="ButtonIcon" data-feather="users" alt="company">Cliente</a>
        <a href="shared"><img class="ButtonIcon" data-feather="file-text" alt="data">Listagem</a>
      </div>

    </div>
  </div>
  <script>
    feather.replace()
    </script>
</body>

</html>
