<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/alt_employee.css">
   
</head>
<body>
    <div class="container">
        <form method="POST" id="reg_form" action="">

            <div class="container_input">
                <label for="name">Nome completo</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="container_input">
                <input type="radio" id="male" name="gender">
                <label for="sex">masculino</label>
                <input type="radio" id="female" name="gender">
                <label for="sex">feminino</label>
                <input type="radio" id="other" name="gender" required>
                <label for="sex">outro</label>
            </div>

            <div class="container_input">
                <label for="rg">rg</label>
                <input type="text" name="rg" id="rg" required>
            </div>
            
            <div class="container_input">
                <label for="cpf">cpf</label>
                <input type="text" name="cpf" id="cpf" required>
            </div>

            <div class="container_input">
                <label for="adress">endereço</label>
                <input type="text" name="address" id="address" required>
            </div>
            <div class="container_input">
                <label for="pis">pis</label>
                <input type="text" name="pis" id="pis" required>
            </div>

            <div class="container_input">
                <label for="phone">telefone</label>
                <input name="phone" id="phone" type="tel">
            </div>

            <div class="container_input">
                <label for="ncp">Nº carteira profissional</label>
                <input type="text" name="ncp" id="ncp" required>
            </div>

            <div class="container_input">
                <label for="money">salário</label>
                <input type="number" name="money" id="money" required>
            </div>

            <div class="container_input">
                <label for="admssion">data de admissão</label>
                <input type="date" name="admssion" id="admssion" required>
            </div>
            
            <div class="container_input">
                <label for="situation">estado civil</label>
                <select name="situation" id="situation" required>
                    <option>solteiro</option>
                    <option>casado</option>
                </select>
            </div>

            <div class="container_input">
                <label for="children">filhos</label>
                <input type="number" name="children" id="children" required>
            </div>

            <div class="container_input">
                <label for="mail">email</label>
                <input type="email" name="mail" id="mail" required>
            </div>

            <div class="container_input">
                <label for="job">cargo</label>
                <input type="text" name="job" id="job" required>
            </div>
        </form>
        <button type="submit" form="reg_form">Enviar</button>
    </div> 
</body>
</html>