<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">

    <title>NSint - NeonNauta sistema interno</title>
</head>
<body>
    
        <div id="container">
            <div class="logo">
                <img src="../images/bg_logo.jpg" alt="logo">
                <h1> NSint - NeonNauta sistema interno </h1>
            </div>

            <button>funcionário</button>
            <button>funcionário cadastro</button>
            <button>funcionário alterar</button>
        
            <button>cliente</button>
            <button>cliente cadastro</button>
            <button>cliente alterar</button>
        
            <button>holerite</button> 
        
            <!-- https://www.w3schools.com/howto/howto_css_dropdown.asp -->
    
        </div>
    
</body>
</html>