<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>NSint - Neon Pinturas sistema interno</title>
</head>
<body>

    <div class="container">
        <img src="../images/bg_logo.jpg" alt="logo" class="logo">

        <div class="menu">
            <h1>NSint - Neon Pinturas sistema interno</h1>
            <div class="menu-button">
                <a href="" class="employee"><img src="../icons/employee.png" alt=""></a>
                <a href="" class="company"><img src="../icons/company.png" alt=""></a>
                <a href="" class="money"><img src="../icons/money.png" alt=""></a>
            </div>
            
        </div>
        funcionário
            funcionário cadastro/alterar
    
            cliente
            cliente cadastro/alterar
            gerar holerite
    </div>

    


    
</body>
</html>