<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/alt_employee.css">
   
</head>
<body>
    <div class="container">
        <form id="reg_form">
            {% if employeejs == "" %}
            <p class="no-result">Nenhum funcionário encontrado!!!</p>
            {% else %}
            <div class="container_input">
                <label for="cpf">cpf</label>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF" value="{{employeejs[0].cpf}}">
            </div>
            <div class="container_input">
                <label for="name">Nome completo</label>
                <input type="text" name="name" id="name"  value="{{employeejs[0].name}}">
            </div>

            <div class="container_input">
                <input type="radio" id="male" name="gender" value="masculino" {{"checked" if employeejs[0].gender == "masculino" }}>
                <label for="sex">masculino</label>
                <input type="radio" id="female" name="gender" value="feminino" {{"checked" if employeejs[0].gender == "feminino" }}>
                <label for="sex">feminino</label>
                <input type="radio" id="other" name="gender" value="outro" {{"checked" if employeejs[0].gender == "outro" }}>
                <label for="sex">outro</label>
            </div>

            <div class="container_input">
                <label for="rg">rg</label>
                <input type="text" name="rg" id="rg" value="{{employeejs[0].rg}}">
            </div>            

            <div class="container_input">
                <label for="adress">endereço</label>
                <input type="text" name="address" id="address" value="{{employeejs[0].address}}">
            </div>
            <div class="container_input">
                <label for="pis">pis</label>
                <input type="text" name="pis" id="pis" value="{{employeejs[0].pis}}">
            </div>

            <div class="container_input">
                <label for="phone">telefone</label>
                <input name="phone" id="phone" type="tel" value="{{employeejs[0].phone}}">
            </div>

            <div class="container_input">
                <label for="ncp">Nº carteira profissional</label>
                <input type="text" name="ncp" id="ncp" value="{{employeejs[0].ncp}}">
            </div>

            <div class="container_input">
                <label for="money">salário</label>
                <input type="number" name="money" id="money" value="{{employeejs[0].money}}">
            </div>

            <div class="container_input">
                <label for="admission">data de admissão</label>
                <input type="date" name="admission" id="admission" value="{{employeejs[0].admission}}">
            </div>
            
            <div class="container_input">
                <label for="situation">estado civil</label>
                <select name="situation" id="situation" >
                    <option {{"selected" if employeejs[0].situation == "solteiro" }}>solteiro</option>
                    <option {{"selected" if employeejs[0].situation == "casado" }}>casado</option>
                </select>
            </div>

            <div class="container_input">
                <label for="children">filhos</label>
                <input type="number" name="children" id="children" value="{{employeejs[0].children}}">
            </div>

            <div class="container_input">
                <label for="mail">email</label>
                <input type="email" name="mail" id="mail" value="{{employeejs[0].mail}}">
            </div>

            <div class="container_input">
                <label for="job">cargo</label>
                <input type="text" name="job" id="job" value="{{employeejs[0].job}}">
            </div>

            <div class="container_input">
                <label for="active">conta</label>
                <select name="active" id="account">
                    <option {{"selected" if employeejs[0].situation == "ativo" }}>ativo</option>
                    <option {{"selected" if employeejs[0].situation == "desativado" }}>desativado</option>
                </select>
                {% endif %}

        </form>
        <button type="submit" form="reg_form">Enviar</button>
    </div> 
</body>
</html>