<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/employee.css">
    

    <title>NSint - Neon Pinturas sistema interno</title>
</head>
<body>
    <div class="container">
        <img src="../images/bg_logo.jpg" alt="logo" class="logo">
        
        <div class="menu">
            <h1>NSint - Neon Pinturas sistema interno</h1>
            
            <div class="button">
                <a href="#" class="register">Cadastro</a>
                <a href="#" class="disable">Desativar</a>
            </div>
            <div class="forms"></div>

            <script src="scripts/forms.js"></script>
        </div>
        
    </div>

</body>
</html>