<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/reg_employee.css">
   
</head>
<body>
    <div class="container">
        <form id="reg_form">

            <div class="container_input">
                <label for="name">Nome completo</label>
                <input type="text" name="name" id="name" required>
            </div>
            
            <div class="container_input">
                <label for="cpf">cpf</label>
                <input type="text" name="cpf" id="cpf" required>
            </div>

            <div class="container_input">
                <label for="phone">telefone</label>
                <input name="phone" id="phone" type="tel">
            </div>

            <div class="container_input">
                <label for="money">salário</label>
                <input type="number" name="money" id="money" required>
            </div>

            <div class="container_input">
                <label for="admssion">data de admissão</label>
                <input type="date" name="admssion" id="admssion" required>
            </div>

            <div class="container_input">
                <label for="job">cargo</label>
                <input type="text" name="job" id="job" required>
            </div>
        </form>
        <button type="submit" form="reg_form">Enviar</button>
    </div> 
</body>
</html>