div.menu{
    top:15px;
    width: 100vw;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button{
    margin: 1rem auto;
}

.register, .disable, .back_index{
    margin: auto 3rem;
    padding: 0.1em 2rem;
    border: 0;

    border-radius: 1rem;

    background: var(--color-menu);

    font: 100 2rem 'Permanent Marker';
    color: var(--color-menu-button);
    text-decoration: none;
}

div.forms  {
    height: 75vh;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
}

.container_input{
    display: flex;
    flex-direction: column;

    margin: 1.7rem;

    font-size: 1.7rem;
}

.container_input input {
    width: 25vw;
    height: 3.5vh;
    text-align: center;
    border-radius: 0.3em;
}

.container_input_header{
    margin-bottom: 50px;
}

.container_input_header input{
    border-radius: 0.8rem;
    padding: 1rem;
}

button#signUpButton, button#deactivateButton{
    padding: 0.6rem 5em;
    border: 0;
    border-radius: 0.5em;
    font: 100 1.5rem 'Permanent Marker';
}

#sucessMsg {
    font-size: 1.5rem;
    color: red;
}

.back_index{
    margin: 0.5em auto auto;
    padding: 0.3em 2em;
}

@media(max-width:720px){
    div.menu{
        height: 95%;        
    }

    div.forms {
        height: 70vh;
    }

    .container_input input{
        width: 75vw;
    }

    .container_input_header input{
        padding: 0.5rem;
    }


}