div.menu{
    top:15px;
    width: 100vw;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button{
    margin: 1rem auto;
}

.register, .disable, .back_index{
    margin: auto 3rem;
    padding: 0.1em 2rem;

    border-radius: 1rem;

    background: var(--color-menu);

    font: 100 2rem 'Permanent Marker';
    color: var(--color-menu-button);
    text-decoration: none;
}

div.forms  {
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_input{
    display: flex;
    flex-direction: column;

    margin: 1.7rem;

    font-size: 1.7rem;
}

div input {
    width: 25vw;
    height: 4vh;
    text-align: center;
}

.back_index{
    margin: 0.5em auto auto;
    padding: 0.3em 2em;
}

@media(max-width:420px){
    div.menu{
        height: 95%;        
    }

    div.forms {
        height: 70vh;
    }

    div input{
        width: 75vw;
    }

}