div.menu{
    top:15px;
    width: 100vw;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button{
    margin: 1rem auto;
}

.register, .disable, .back_index{
    margin: auto 3rem;
    padding: 0.1em 2rem;

    border-radius: 0.5rem;

    background: var(--color-menu);

    font: 100 2rem 'Permanent Marker';
    color: var(--color-menu-button);
    text-decoration: none;
}

div.forms {
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_input{
    display: flex;
    flex-direction: column;

    margin: 2rem;

}

.back_index{
    margin: 0.5em auto auto;
    padding: 0.3em 2em;
}

@media(max-width:420px){
    div.menu{
        height: 95%;        
    }

    .button a, .back_index{
        margin: 0.4rem 1rem;
        padding: 0.2em;
    
        border-radius: 1.5rem;
    }

    .menu iframe{
        width: 98vw;
    }

}