div.menu{
    top: 10px;
}

div.menu-button{
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.menu-button a{
    display: flex;
    flex-direction: column-reverse;

    margin: auto 3rem;

    font: 300 1.6rem 'Permanent Marker';
    color: var(--color-menu-button);
    text-decoration: none;
    
 }

.menu-button img{
    width: 15vw;
    margin: 1rem auto;
    transition: filter 1s, width 0.5s;
 }

 .menu-button img:hover{
    filter: opacity(80%);
    width: 260px;
 }

 @media(max-width:420px){
    div.menu{
        top: 100px;
    }

    div.menu-button{
        display: flex;
        flex-direction: column-reverse;
    }

    .menu-button a{
        background: var(--color-menu);
        border-radius: 1rem;
        margin: 1rem 4rem;
    }

 }