@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');
:root{
    font-size: 60%;
    --color-background:#cf1a65;
    --color-menu: #5a06b9;
    --color-menu-button:#904cdd;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html, body{
    height: 100vh;
}

body{
    background:var(--color-background);
}

div.container{
    display: flex;
    justify-content: center;
}

.container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
}

div.menu{
    position: absolute;

    text-align: center;
    font: 500 1rem 'Press Start 2P';
    color: var(--color-menu);
}
a{
  cursor: pointer;
}
