body{
    background: #e6e2cc;
}

div.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

form .container_input{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 1.5em 'Permanent Marker';
    margin: 0.5em auto;
}

.container_input input, select{
    height: 5vh;
    width: 50vw;
}

button{
    padding: 1em;
}

@media(max-width:420px){
    div.container{
        font-size: 0.7em;
    }

    button{
        padding: 0.5em;
    }

}