body{
    background: #e6e2cc;
}

div.container{
    height: 100vh;
}

form .container_input{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 2em 'Permanent Marker';
    margin: 0.5em auto;
}

.container_input input, select{
    height: 5vh;
}