body{
    background: #e6e2cc;
}

div.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

form .container_input{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 2em 'Permanent Marker';
    margin: 0.4em auto;
}

.container_input input{
    height: 5vh;
    width: 60%;
}

.container select, button{
    padding: 0.4em;
    width: 20vw;
    border-radius: 0.5em;
}

#male, #female, #other{
    width: 1.5em;
}

@media(max-width:420px){
    form#reg_form{
        padding: 0 1em;
    }

    div.container_input{
        font-size: 1.3em;
    }
}